.venv/
.spyproject/
__pychache__
flaskr/__pycache__
flaskr/test.py
flaskr/config/__pycache__
flaskr/data/french_bird_data_test.csv
flaskr/data/birds_db.db
tmp/
.env
.vercel
pytest.ini
logs/
tests/__pycache__
tests/unit_tests/__pycache__
tests/integration_tests/__pycache__
tests/production_tests/__pycache__
.gitignore
temp.py