{% extends 'base.html' %}

{% block additional_styles %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
{% endblock %}

{% block left_top %}

    <h1>Which bird is it ?</h1>
    <!-- Bird song player -->
    <audio id="audioPlayer" controls>
        <source id="audioSource" type="audio/mp3" >
        Your browser does not support the audio element.
    </audio>    

{% endblock %}


{% block left_mid %}
<!-- answer form for user guess of bird name-->
    <form method="POST">
        <label for="answer">Your Answer:</label>
        <input type="text" id="answer" name="answer" required>
        <div id="autocomplete" class="autocomplete_div"></div>  <!-- for autocomplete suggestions -->
        <button type="submit">Submit</button>
    </form>
{% endblock %}

{% block left_bottom %}
    {% if message %}
    {% set text_color = 'green' if 'Correct' in message else 'red' %}
    <p style="color: {{ text_color }};">  <!-- VSCode throws a warning/error signal here but it works -->
        {{ message }}
    </p>
    {% endif %}
{% endblock %}

{% block right_top %}
    <p>
        Try to guess the bird ! 
    </p>
    <p>
        After each submission, a new bird sound is loaded.
    </p>
{% endblock %}


{% block scripts %}
    <script src="{{ url_for('static', filename='js/game_script.js') }}"></script>
{% endblock %}
