{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block header %}Welcome to Bird Guesser{% endblock %}

{% block left_top %}
    <h2>About Bird Guesser</h2>
    <p>Bird Guesser is an interactive platform designed to help birdwatchers of all levels identify birds by their songs and calls.</p>
    <p>Test your knowledge, improve your skills, and explore the wonderful world of bird songs!</p>
{% endblock %}

{% block left_mid %}
    <h2>Current Features</h2>
        <ul>
            <li>Play the game and try guessing a random French bird from its sound only !</li>
            <li>Train on your birds of choice to get better then test yourself on them !</li>
        </ul>
{% endblock %}

{% block left_bottom %}
    <h2>Getting Started</h2>
    <p>Choose one of the following options:</p>
    <ul>
        <li><strong>Play Game:</strong> Jump right into the guessing game with random French birds</li>
        <li><strong>Training:</strong> Learn any (French) bird song of your choice</li>
    </ul>
    <a href="{{ url_for('game.index') }}" class="nav-button">Start Playing</a>
    <a href="{{ url_for('training.index') }}" class="nav-button">Start Training</a>
{% endblock %}

{% block right_mid %}
    <h2>Featured Bird</h2>
    <img src="{{ url_for('static', filename='assets/robin.jpg') }}" alt="Robin">
    <p>European robin (Erithacus rubecula)</p>
{% endblock %}

