{% extends 'base.html' %}

{% block additional_styles %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/training.css') }}">
{% endblock %}


{% block header %}
  <h1>{% block title %}Training ground{% endblock %}</h1>
{% endblock %}


{% block left_top %}
    <h2>Training Mode</h2>
    <p>In training mode, you can listen to any bird you want to learn them</p>
    <p>You can also define a custom bird set to be tested on in the game section</p>
{% endblock %}


{% block left_mid %}
     <!-- Form to retrieve data about birds -->
    <form method="POST">
        <input type="text" id="wantedBird" name="wantedBird" required>
        <div id="autocomplete" class="autocomplete_div"></div>  <!-- for autocomplete suggestions -->
        <button type="submit">Load song</button>
    </form>
{% endblock %}

{% block left_bottom %}
    <audio id="audioPlayer" controls>
        <source id="audioSource" type="audio/mp3" 
        {% if song_url %}
            src="{{ song_url }}"
        {% endif %}
        >
        Your browser does not support the audio element.
    </audio>
{% endblock %}

{% block right_top %}
    <h2>Custom set manager</h2>
        
    <div class="input-group">
        <input type="text" id="setNameInput" placeholder="Enter set name">
        <button id="loadSetBtn">Load Set</button>
        <button id="createSetBtn">Create New Set</button>
    </div>

    <div class="input-group">
        <input type="text" id="elementInput" placeholder="Enter new element">
        <button id="addElementBtn">Add Element</button>
    </div>

    <h3>Current Set: <span id="currentSetName">None</span></h3>

    <div id="birdNameList">
        <p id="emptyMessage">No elements in the current set.</p>
    </div>
{% endblock %}


{% block scripts %}
    <script src="{{ url_for('static', filename='js/training.js') }}"></script>
{% endblock %}