{% extends 'base.html' %}


{% block header %}
  <h1>{% block title %}Create training set{% endblock %}</h1>
{% endblock %}


{% block left_top %}
	<!-- box to enter bird name
    <form autocomplete="off", id="focusBirdForm">
        <div class="autocomplete" style="width:300px;">
            <input id="focusBirdFormText" type="text" name="focusBirdText">
        </div>
        <input type="submit" value="Valider">
    </form>
 -->

    <!-- Activate autocomplete
    <script>
        autocomplete(document.getElementById("focusBirdFormText"), {{ g.all_bird_lst | tojson }});
    </script> -->
{% endblock %}


{% block left_mid %}
	<div class="left-block">
        <h2>Oiseaux sélectionnés (Focus)</h2>
        <ul id="focus-list"></ul>
    </div>

{% endblock %}


{% block right_top %}
	<!-- sleect birds -->

	<!-- box to enter bird name -->
    <!-- <form autocomplete="off">
        <div class="autocomplete" style="width:300px;">
            <input id="rare_bird_form" type="text" name="focus_bird_text">
        </div>
        <input type="submit" value="Valider" onclick="addBirdToSet('rare_bird_form', 'rare-list', rareBirdLst)">
    </form>


    Activate autocomplete -->
    <!-- <script>
        autocomplete(document.getElementById("rare_bird_form"), focusBirdLst);
    </script> -->
{% endblock %}


{% block right_mid %}
    <div class="right-block">
        <h2>Oiseaux selectionnés (Rappel)</h2>
        <ul id="rare-list"></ul>
    </div>
{% endblock %}