
.training-container {
    background-color: #e6f2ff;
    padding: 15px;
    border-radius: 8px;
}

.autocomplete_div {
    background-color: #fff;
    color: #4682b4;
    border: none;
}

.autocomplete_div:hover {
    background-color: #e6f2ff;
    color: #2d5986;
}

.autocomplete-item {
    background-color: #fff;
    color: #4682b4;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.autocomplete-item:hover {
    background-color:#4682b4;
    color:#fff;
}

.nav-button {
    background-color: #fff;
    color: #4682b4;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.list-container {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px;
}
.list-item {
    padding: 8px;
    border-bottom: 1px solid #eee;
}
.list-item:last-child {
    border-bottom: none;
}

/* user set management */
.input-group {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}
.input-group input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}
#birdNameList {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    min-height: 200px;
}
.list-item {
    padding: 8px;
    margin: 5px 0;
    background-color: #f9f9f9;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}
.remove-btn {
    background-color: #f44336;
    padding: 2px 8px;
    font-size: 12px;
}