<!doctype html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} Bird Guesser {% endblock %}</title>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  {% block additional_styles %} {% endblock %}
</head>

<link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">

<body>
  <div class="container">
    <section class="header">
        <header>
            <h1>{% block header %}Welcome to Bird Guesser{% endblock %}</h1>
            <div class="nav-buttons">
                <a href="{{ url_for('landing.index') }}" class="nav-button">Home</a>
                <a href="{{ url_for('game.index') }}" class="nav-button">Play Game</a>
                <a href="{{ url_for('training.index') }}" class="nav-button">Training</a>
            </div>
        </header>
    </section>
    
    <section class="endgame_elements">
      {% block end_game_window %}{% endblock %}
    </section>

    <section class="left_block">
      {% block left_top %}{% endblock %}
      {% block left_mid %}{% endblock %}
      {% block left_bottom %}{% endblock %}
    </section>


    <section class="right_block">
        {% block right_top %}{% endblock %}
        {% block right_mid %}{% endblock %}
        {% block right_bottom %}{% endblock %}
    </section>
    
    <main>
        {% block main %}{% endblock %}
    </main>
    
    <footer>
        <p>&copy; 2025 BirdGuesser </p>
    </footer>
  </div>
  
  {% block scripts %}
  {% endblock %}
</body>
</html>